[submodule "src/cocoapi"]
	path = src/cocoapi
	url =  https://github.com/GuessWhatGame/cocoapi.git
[submodule "src/generic"]
	path = src/generic
	url =  https://github.com/GuessWhatGame/generic.git
[submodule "src/neural_toolbox"]
	path = src/neural_toolbox
	url = https://github.com/GuessWhatGame/neural_toolbox.git 
